<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content" class="container-fluid px-4 mt-4">

    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title: "Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="h3 mb-0 text-gray-800">Eliminar Cita</h1>
        </div>
        <div class="card-body">
            <h3 class="text-danger mb-3">¿Está seguro que desea eliminar este registro?</h3>
            <hr class="mb-4"/>
            <dl class="row">
                <dt class="col-sm-3">ID:</dt>
                <dd class="col-sm-9" th:text="${cita.id}"></dd>

                <dt class="col-sm-3">Barbero:</dt>
                <dd class="col-sm-9" th:text="${cita.barbero.nombre}"></dd>

                <dt class="col-sm-3">Servicio:</dt>
                <dd class="col-sm-9" th:text="${cita.servicio.nombre}"></dd>

                <dt class="col-sm-3">Cliente:</dt>
                <dd class="col-sm-9" th:text="${cita.cliente}"></dd>

                <dt class="col-sm-3">Fecha:</dt>
                <dd class="col-sm-9" th:text="${cita.fecha}"></dd>

                <dt class="col-sm-3">Hora:</dt>
                <dd class="col-sm-9" th:text="${cita.hora}"></dd>

                <dt class="col-sm-3">Estado:</dt>
                <dd class="col-sm-9" th:text="${cita.estado}"></dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <form th:action="@{/citas/delete}" method="post">
                <input type="hidden" name="id" th:value="${cita.id}">
                <button type="submit" class="btn btn-danger me-2">Eliminar</button>
                <a th:href="@{/citas}" class="btn btn-secondary">Regresar</a>
            </form>
        </div>
    </div>
</div>
