<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Lista de servicios</title>
</head>
<body>

<div layout:fragment="content">

    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
            title: "Confirmación",
            text: '[[${msg}]]',
            icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de servicios : </h1>
    <p>
    <a th:href="@{/servicio/create}" class="btn btn-outline-primary">Nuevo servicio</a>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Acciones</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="servicio : ${servicios.content}">
            <td th:text="${servicio.id}"></td>
            <td th:text="${servicio.nombre}"></td>
            <td th:text="${servicio.precio}">
            <td>
                <img th:if="${servicio.imagen != null}"
                     th:src="@{'/servicio/imagen/' + ${servicio.id}}"
                     style="max-width: 100px; max-height: 100px;"/>
            </td>
            <td>
                <a th:href="@{/servicio/details/{id} (id = ${servicio.id}) }" class="btn btn-outline-secondary">Detalles</a> |
                <a th:href="@{/servicio/edit/{id} (id = ${servicio.id}) }" class="btn btn-outline-info">Editar</a> |
                <a th:href="@{/servicio/remove/{id} (id = ${servicio.id}) }" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/servicio?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>