<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Factura Electrónica</title>
    <style> </style>
</head>

<body>
<table>
    <thead>
    <th>ID</th>
    <th>servicio</th>
    <th>barbero</th>
    <th>cliente</th>
    <th>fecha</th>
    <th>hora</th>
    <th>estado</th>


    </thead>
    <tbody>
    <tr th:each="item : ${citas}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.servicio.nombre}"></td>
        <td th:text="${item.barbero.nombre}"></td>
        <td th:text="${item.cliente.nombre}"></td>
        <td th:text="${item.fecha}"></td>
        <td th:text="${item.hora}"></td>
        <td th:text="${item.estado}"></td>
    </tr>
    </tbody>
</table>
</body>

</html>